<style>

.header {
    font-size: 30px;
    color: #140e47;
    font-weight: 600;
    text-align: center;
    font-family: Montserrat;
    border: 1px solid red;
    margin-top: 25px;
    margin-bottom: 70px;
    }

.main-container {
    display: flex;
    flex-wrap: wrap;
    }
  
.section {
    width: 100%;
    padding: 10px;
    }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.nav-link {
    padding: 0 20px;
    font-family: Montserrat;
    font-size: 20px;
    text-align: justify;
    color: #140e47;
    font-weight: 900;
    line-height: 35px;  
    }

  @media (max-width: 768px) {
    .section {
      width: 100%;
        }
      }

    .section-title {
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ff0000;
      }


    .section-skills {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ff0000;
        
        }


    .section-education {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ff0000;
        }

    .section-lang {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ff0000;
       }

    .section-contacts{
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ff0000;
       }

   .info {
    font-family: Montserrat;
    font-size: 25px;
    text-align: justify;
    color: #140e47;
    font-weight: 600;
    }

.nav-skills {
    font-family: Montserrat;
    font-size: 25px;
    text-align: justify;
    color: #140e47;
    font-weight: 600;
    margin-left: 20px;
  }

#education {
    font-family: Montserrat;
    font-size: 25px;
    text-align: justify;
    color: #140e47;
    font-weight: 600;
    margin-left: 20px;
  }

#language {
    font-family: Montserrat;
    font-size: 25px;
    text-align: justify;
    color: #140e47;
    font-weight: 900;
    margin-left: 20px;
  }
  
#contacts {
    font-family: Montserrat;
    margin-left: 20px;
    font-size: 25px;
    text-align: justify;
    color: #140e47;
    font-weight: 900;
  }
  
.footer {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    font-family: Montserrat;
    padding: 20px;
     }

</style>